body {
  background: #363E44;
  color: #9FC7EB;
  font-family: 'Roboto Mono', monospace;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.app {
  display: flex;
  flex-direction: column; }

button{
margin: 10px 5px;
padding: 8px 12px;
border: none;
    background-color: #4F565C;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
button:active {
    background: #75889A;
    color: #ABB0FF; }
  button i.material-icons {
    vertical-align: middle; }



  #input_angl {
    border: none;
        background: #52616C;
    font-size: 26px;
        color: #71BDFF; }
        #input {
              background: #52616C;
              color: #7DDE3C; }

#terminal div.out {

   font-family: 'Roboto Mono', monospace;
  font-size: 16px;
    padding: 1px 1px;
    color: #7DDE3C;
}

#terminal div.in {
overflow-y: scroll;
   font-family: 'Roboto Mono', monospace;
  font-size: 16px;
   padding: 1px 1px;
    color: #71BDFF;
}
select, textarea {
  background: #363E44;
   width: 200px;
   padding: 1px;
   border: 1px solid #ccc;
   border-radius: 4px;
   resize: vertical;
    }


© 2022 GitHub, Inc.


Terms
Priv
