body {
    zoom: 150%;
    position: absolute;
    top: 5%;
    left: 20%;
  background: #353C41;
  color: #9FC7EB;
  font-family: 'Roboto Mono', monospace;
  font-size: 10px;
  }
.app {
  display: flex;
  flex-direction: column; }

button{

border: none;
    background-color: #4F565C;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
button:active {
    background: #75889A;
    color: #ABB0FF; }
  button i.material-icons {
    vertical-align: middle; }



  #input_angl {
    outline : none;
    border: none;
        background: #31383D;   
    font-size: 70px;
     width: 210px;
        color: #94F057;
box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      }
        #input {
           width: 135px;
          outline : none;
          overflow: hidden;
     background: #31383D;
     font-size: 16px;
    color: #F3C5C5;
box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   }

#terminal div.out {

   font-family: 'Roboto Mono', monospace;
  font-size: 16px;
   padding: 1px 1px;
    color: #F3C5C5;
}

#terminal div.in {
   font-family: 'Roboto Mono', monospace;
  font-size: 16px;
   padding: 1px 1px;
    color: #71BDFF;
}

 textarea {
     outline : none;
  overflow: auto;
    border: none;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background: #31383D; 
   color: #F0A431;
 width: 205px;
   padding: 1px
   resize: vertical;
    }


© 2022 GitHub, Inc.


Terms
Priv
